.topcells {
    display: inline;
}

#tableu{
    display: grid;
    gap:1rem;

    grid-template-columns: repeat(8, 1fr);

}

hr {
    padding-bottom: 10px;
    margin-bottom: 40px;
}
#toprow {
    margin:auto;
    margin-bottom: 80px;
}