.topcells {
    display: inline;
}

#tableu{
    display: inline;
}


table, table tr, table tr td * {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

hr {
    padding-bottom: 10px;
    margin-bottom: 40px;
}
#toprow {
    margin:auto;
    margin-bottom: 80px;
}