<div>
    {{deckstring}}
    <button (click)="showDeck()">showDeck</button>
    <button (click)="getDeck()">getDeck</button>
</div>

<div id="toprow">
    <h2>Freecell</h2>
    <hr>
    <div id="freecells" class="topcells">
        <app-freecell *ngFor="let freecell of freecells; let i = index"></app-freecell>
    
    </div>
    
    <div id="goalcells" class="topcells">
        <app-goalcell *ngFor="let goalcell of goalcells; let j = index"></app-goalcell>
    
    </div>
</div>



<section id="tableu" cdkDropListGroup>
    <app-stackcell *ngFor="let stackcell of stackcells" [rootCard]="stackcell.rootCard" [cards]="stackcell.cards"  cdkDropList (cdkDropListDropped)="stackcell.drop($event)" cdkDropListOrientation="vertical"></app-stackcell>   

</section>
